/*
Ejercicio completo con CSS y HTML

(*)1. Crear un documento con Html y Css
(*)2. Crear una estructura Html que cuente con un contenedor general, cabecera, barra lateral, seccion de contenido principal, elementos dentro del contenedor principal, menu y footer.
(*)3. Todo el contenido debe estar dentro del contenedor general y su ancho será de 1200px y estar centrado
(*)4. Header debe ocupar el 100% del ancho y tener un texto grande centrado.
5. Menu debe tener los elementos uno al lado del otro
6. El contenido principal debe tener un ancho del 70%
7. El contenido dentro del contenedor principal debe ser una cuadrícula con 4 líneas de 2 cajas.
8. La barra lateral debe tener un ancho del 30%
9. El footer debe tener un ancho del 100% del div que lo contiene y estar debajo del todo.
*/

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#principal {
  width: 1200px;
  /*Centrado*/
  margin: 0px auto;
  margin-top: 20px;
  /*Ayuda visual*/
  border: 1px solid #cccccc;
}

#header {
  /*100% del ancho*/
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 255, 0.445);
  color: whitesmoke;
  text-align: center;
  /*Centrado en vertical*/
  line-height: 90px;
}
