body {
  background-color: lightgray;
  /* El asset deberá estar dentro de la carpeta
  que contenga el archivo CSS y el caracter "\"
  deberá ser reemplazado por "/"
  */
  background-image: url("images/patron4.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: aliceblue;
  /* Fondo fijo */
  background-attachment: fixed;
  background-position: left bottom;

  text-align: justify;
  text-indent: 15px;

  /* Espacios entre palabras y letras
  word-spacing: 10px;
  letter-spacing: 5px;
  */
}

#caja {
  border: 5px solid black;
  padding: 10px;
  background-color: bisque;
  color: blue;
  font-family: "Open Sans";
  text-align: center;
  /* para modificar la altura de la línea de un párrafo */
  line-height: 50px;
  text-transform: uppercase;
  text-decoration: line-through;
}

h3 {
  color: black;
  border: 2px solid black;
  background-image: url("images/patron2.jpg");
}
