body {
  background-color: lightgray;
  background-image: url(Curso\CSS\Seccion8\images\patron1.jpg);
}

#caja {
  border: 5px solid black;
  padding: 10px;
  background-color: bisque;
  color: blue;
}
