body {
  background-image: url("/Curso/CSS/Seccion8/css/images/fondo.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* Fondo fijo */
  background-attachment: fixed;
  background-position: left bottom;
}

h1 {
  color: rgb(188, 245, 170);
}

h2 {
  color: rgb(248, 173, 76);
}

#menu > li > a {
  color: #f44336;
  text-decoration: none;
  font-size: 25px;
  padding: 5px;
}

footer {
  padding: 20px;
  font-size: 35px;
  color: aqua;
}

footer a {
  color: mediumseagreen;
}
